#titulo {
    text-align: center;
    font-family: "Algerian", monospace;
    font-style: unset;
    font-weight: bold;
    color: transparent;
    font-size: 40px;
    text-shadow:
        -1px -1px 0px #dba40b,
        1px -1px 0px #000,
        -1px 1px 0px #000,
        1px 1px 0px #000;
    background-color: #634b0a;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 20px 25px black;

}

.botones {
    margin-top: 5px;
    text-align: center;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    display: flex;


}

.boton {
    background-color: rgb(206, 183, 51);
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 0 20px 25px black;
}

.boton:hover {
    background-color: rgb(182, 219, 15);
    transform: translateY(10px);
}


body {
    background: linear-gradient(45deg, rgb(160, 187, 40), rgb(173, 52, 4));
}

#mesa {
    min-height: 200px;
    width: 60%;
    background-color: rgb(143, 122, 5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 20px 25px black;


}

#mesa ul li img {
    width: 150px;
    margin: 0 10px;


}

.simbolo {
    display: inline;
    flex-direction: row;
}

/* Estado inicial de cada símbolo */
.simbolo img {
    opacity: 0;
    transform: translateY(-30px);
    animation: mostrarSimbolo 0.9s ease-out forwards;

}

/* Delays automáticos según el orden */
.simbolo:nth-child(1) img {
    animation-delay: 0ms;
}

.simbolo:nth-child(2) img {
    animation-delay: 400ms;
}

.simbolo:nth-child(3) img {
    animation-delay: 800ms;
}

/* Puedes agregar más si tienes más rodillos */
@keyframes mostrarSimbolo {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table,
th,
td {
    border: 1px solid grey;
    /* caracteristicas del  borde */
    border-collapse: collapse;
    /* los bordes no se separan */
    padding: 5px;
    /* Espacio alrededor de los objetos contenidos */
    margin: 0 auto;
    /* Ayuda a centrar en el contenedor */
    border-radius: 15px;
}

table tr:nth-child(odd) {
    background-color: #b39137;
    /* Color de fila impar gris */
}

table tr:nth-child(even) {
    background-color: #c5a824;
    /* Color de fila par blanco */
}

#resultado {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.4s ease;
    opacity: 0;
    
}

.mostrar {
    opacity: 1 !important;
    transform: scale(1.15);
}

.ganar {
    color: #00ff00 !important;
    text-shadow: 0px 0px 8px #00ff00;
}

.casi {
    color: #ffea00 !important;
    text-shadow: 0px 0px 8px #ffea00;
}

.perder {
    color: #ff0000 !important;
    text-shadow: 0px 0px 8px #ff0000;
}